<nav class="navbar navbar-expand-lg admin-navbar">

    <div class="container-fluid">

        <!-- Left -->

        <div class="navbar-title">

            <h4 id="pageTitle" class="mb-0">

                Dashboard

            </h4>

            <small>

                Sistem Informasi Bank Sampah Metro 46

            </small>

        </div>

        <!-- Right -->

        <div class="navbar-right">

            <div class="date-area">

                <i class="bi bi-calendar3"></i>

                <span id="current-date"></span>

            </div>

            <button
                class="btn btn-light notification-btn">

                <i class="bi bi-bell"></i>

            </button>

            <div class="admin-profile">

                <i class="bi bi-person-circle"></i>

                <div>

                    <strong>

                        Administrator

                    </strong>

                    <small>

                        Admin Bank Sampah

                    </small>

                </div>

            </div>

        </div>

    </div>

</nav>